.fun-fact-style-one {
	padding: 114px 0;
	.single-fun-fact-style-one {
		h3, p {margin: 0;}
		h3 {font-size: 45px;color: #6278CD;font-weight: 400;margin-bottom: 30px;}
		p {font-size: 18px;line-height: 30px;color: #7A7F93;}
	}
}